In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [3]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [4]:
train.shape

(39499, 15)

In [5]:
test.shape

(10500, 14)

In [6]:
print(train.isnull().sum())

Property_ID                  0
Property_Type                0
Property_Area                0
Number_of_Windows         1654
Number_of_Doors              0
Furnishing                1042
Frequency_of_Powercuts    1383
Power_Backup                 0
Water_Supply                 0
Traffic_Density_Score        0
Crime_Rate                 787
Dust_and_Noise            1219
Air_Quality_Index            0
Neighborhood_Review          0
Habitability_score           0
dtype: int64

In [7]:
print(test.isnull().sum())

Property_ID                 0
Property_Type               0
Property_Area               0
Number_of_Windows         445
Number_of_Doors             0
Furnishing                257
Frequency_of_Powercuts    366
Power_Backup                0
Water_Supply                0
Traffic_Density_Score       0
Crime_Rate                212
Dust_and_Noise            330
Air_Quality_Index           0
Neighborhood_Review         0
dtype: int64

In [8]:
y = train.iloc[:,-1]
train.drop(train.columns[-1],axis=1,inplace=True)

In [9]:
final = pd.concat([train,test]) #combining both dataset 
final.reset_index(inplace=True) #resetting indexes
final=final.iloc[:,1:]
final.shape

(49999, 14)

# cleaning Using KNN imputer and simple imputer

In [10]:
from sklearn.impute import SimpleImputer, KNNImputer

In [11]:
impute = SimpleImputer(strategy = "most_frequent")
knnimputer = KNNImputer(n_neighbors=25)

In [12]:
final2 = final.iloc[:,[3,6]]
final2 = knnimputer.fit_transform(final2)
final2 = pd.DataFrame(final2)

In [13]:
final3 = final.iloc[:,[5,10,11]]
final3 = impute.fit_transform(final3)
final3 = pd.DataFrame(final3)

In [14]:
final.iloc[:,3] = final2.iloc[:,0]
final.iloc[:,6] = final2.iloc[:,1]
final.iloc[:,5] = final3.iloc[:,0]
final.iloc[:,10] = final3.iloc[:,1]
final.iloc[:,11] = final3.iloc[:,2]

In [15]:
OHE = OneHotEncoder()
SS = StandardScaler()

In [16]:
fin2 = final.iloc[:,[1,5,7,8,10,11]]
fin2 = OHE.fit_transform(fin2)
fin2 = pd.DataFrame(fin2.toarray())

In [17]:
fin3 = final.iloc[:,[2,3,4,6,9,12,13]]
fin3 = SS.fit_transform(fin3)
fin3 = pd.DataFrame(fin3)

In [18]:
final = pd.concat([fin2,fin3],axis=1)
final

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,0,1,2,3,4,5,6
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,-0.664983,0.194113,-1.128415,-0.651581,-0.382456,-0.510910,0.156310
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,-0.339236,-0.731735,-0.280217,0.701786,-1.629444,-0.412596,-0.233093
2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,-0.337158,0.027157,-0.280217,-0.651581,0.897347,-0.002955,0.093503
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,-0.252474,-0.352289,-0.280217,2.055153,-0.160952,-0.347053,-3.009160
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.442659,3.821617,3.112578,-0.651581,-0.735222,-0.084883,1.299397
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49994,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,-0.220783,0.194113,0.567982,-0.651581,-0.751630,-0.445367,-0.233093
49995,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,-0.573545,-1.111181,-0.280217,3.408519,0.298465,-0.248740,-1.049583
49996,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,13.538502,0.194113,-0.280217,-0.651581,2.398655,0.455842,0.357292
49997,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.033788,-0.731735,0.567982,0.701786,-0.087117,0.160901,-0.308461
49998,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,-0.419764,0.194113,-1.128415,-0.651581,-0.308621,-0.150426,0.520591

In [19]:
final.columns=[a for a in range(0,len(final.columns))]
train=final[:39499]
test=final[39499:]

In [22]:
def myregressor(x_train,x_test,y_train):
    from sklearn.ensemble import RandomForestRegressor
    rfr = RandomForestRegressor()
    rfr.fit(x_train,y_train)
    p= rfr.predict(x_test)
    return p

In [23]:
p= myregressor(train,test,y)

In [24]:
t2 = pd.read_csv("test.csv")
id = t2.iloc[:,0]
GetARoom= pd.DataFrame({"Property_ID":id,"Habitability_score":p})
GetARoom.to_csv("submit.csv",index=False)
pd.read_csv("submit.csv")

      Property_ID  Habitability_score
0          0x6e93             31.2443
1          0x8787             80.1329
2          0x6c17             67.1002
3          0x9dbd             74.6373
4          0xbfde             74.2744
...           ...                 ...
10495      0x423d             63.8926
10496      0x78c5             81.5973
10497       0xbf3             74.7199
10498      0x305b             79.2129
10499      0x5cff             79.0626

[10500 rows x 2 columns]

In [25]:
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras.optimizers import Adam

In [26]:
model = Sequential()
model.add(Dense(512, kernel_initializer='normal',activation='relu',input_shape=(31,)))
model.add(Dense(512, kernel_initializer='normal',activation='relu'))
model.add(Dense(256, kernel_initializer='normal',activation='relu'))
model.add(Dense(256, kernel_initializer='normal',activation='relu'))
model.add(Dense(128, kernel_initializer='normal',activation='relu'))
model.add(Dense(128, kernel_initializer='normal',activation='relu'))
model.add(Dense(1))

In [28]:
model.summary()
model.compile(loss='mse', optimizer=Adam(lr=0.0001), metrics=['mse','mae'])

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 512)               16384

 dense_1 (Dense)             (None, 512)               262656

 dense_2 (Dense)             (None, 256)               131328

 dense_3 (Dense)             (None, 256)               65792

 dense_4 (Dense)             (None, 128)               32896

 dense_5 (Dense)             (None, 128)               16512

 dense_6 (Dense)             (None, 1)                 129

=================================================================
Total params: 525,697
Trainable params: 525,697
Non-trainable params: 0
_________________________________________________________________

C:\Users\NEKEAPOLLO\anaconda3.x\lib\site-packages\keras\optimizers\optimizer_v2\adam.py:110: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

In [29]:
 model.fit(train,y,epochs=30)

Epoch 1/30
1235/1235 [==============================] - 10s 6ms/step - loss: 368.3820 - mse: 368.3820 - mae: 10.9466
Epoch 2/30
1235/1235 [==============================] - 7s 6ms/step - loss: 49.2422 - mse: 49.2422 - mae: 5.6604
Epoch 3/30
1235/1235 [==============================] - 7s 6ms/step - loss: 43.5750 - mse: 43.5750 - mae: 5.2681
Epoch 4/30
1235/1235 [==============================] - 7s 6ms/step - loss: 40.3814 - mse: 40.3814 - mae: 5.0152
Epoch 5/30
1235/1235 [==============================] - 7s 6ms/step - loss: 38.2868 - mse: 38.2868 - mae: 4.8588
Epoch 6/30
1235/1235 [==============================] - 7s 6ms/step - loss: 37.0052 - mse: 37.0052 - mae: 4.7654
Epoch 7/30
1235/1235 [==============================] - 7s 6ms/step - loss: 35.7393 - mse: 35.7393 - mae: 4.6799
Epoch 8/30
1235/1235 [==============================] - 7s 6ms/step - loss: 35.4281 - mse: 35.4281 - mae: 4.6463
Epoch 9/30
1235/1235 [==============================] - 7s 6ms/step - loss: 34.7619 - mse: 34.7619 - mae: 4.6146
Epoch 10/30
1235/1235 [==============================] - 7s 6ms/step - loss: 34.0612 - mse: 34.0612 - mae: 4.5616
Epoch 11/30
1235/1235 [==============================] - 7s 6ms/step - loss: 33.6299 - mse: 33.6299 - mae: 4.5247
Epoch 12/30
1235/1235 [==============================] - 7s 6ms/step - loss: 33.0445 - mse: 33.0445 - mae: 4.4876
Epoch 13/30
1235/1235 [==============================] - 7s 6ms/step - loss: 32.7747 - mse: 32.7747 - mae: 4.4751
Epoch 14/30
1235/1235 [==============================] - 8s 6ms/step - loss: 32.4223 - mse: 32.4223 - mae: 4.4504
Epoch 15/30
1235/1235 [==============================] - 7s 6ms/step - loss: 32.3258 - mse: 32.3258 - mae: 4.4406
Epoch 16/30
1235/1235 [==============================] - 7s 6ms/step - loss: 31.9064 - mse: 31.9064 - mae: 4.4084
Epoch 17/30
1235/1235 [==============================] - 7s 6ms/step - loss: 31.5408 - mse: 31.5408 - mae: 4.3814
Epoch 18/30
1235/1235 [==============================] - 7s 6ms/step - loss: 31.1677 - mse: 31.1677 - mae: 4.3675
Epoch 19/30
1235/1235 [==============================] - 7s 6ms/step - loss: 31.0140 - mse: 31.0140 - mae: 4.3517
Epoch 20/30
1235/1235 [==============================] - 7s 6ms/step - loss: 30.8642 - mse: 30.8642 - mae: 4.3392
Epoch 21/30
1235/1235 [==============================] - 7s 6ms/step - loss: 30.6252 - mse: 30.6252 - mae: 4.3282
Epoch 22/30
1235/1235 [==============================] - 7s 6ms/step - loss: 30.2484 - mse: 30.2484 - mae: 4.3071
Epoch 23/30
1235/1235 [==============================] - 7s 6ms/step - loss: 30.1484 - mse: 30.1484 - mae: 4.3027
Epoch 24/30
1235/1235 [==============================] - 7s 6ms/step - loss: 30.1679 - mse: 30.1679 - mae: 4.3012
Epoch 25/30
1235/1235 [==============================] - 7s 6ms/step - loss: 29.9789 - mse: 29.9789 - mae: 4.2775
Epoch 26/30
1235/1235 [==============================] - 7s 6ms/step - loss: 29.7174 - mse: 29.7174 - mae: 4.2594
Epoch 27/30
1235/1235 [==============================] - 7s 6ms/step - loss: 29.2879 - mse: 29.2879 - mae: 4.2348
Epoch 28/30
1235/1235 [==============================] - 7s 6ms/step - loss: 29.3423 - mse: 29.3423 - mae: 4.2349
Epoch 29/30
1235/1235 [==============================] - 7s 6ms/step - loss: 28.9971 - mse: 28.9971 - mae: 4.2039
Epoch 30/30
1235/1235 [==============================] - 7s 6ms/step - loss: 28.9010 - mse: 28.9010 - mae: 4.2064

In [30]:
pr = model.predict(test)

329/329 [==============================] - 1s 2ms/step

In [31]:
pr = [a[0] for a in pr]
t2 = pd.read_csv("test.csv")
id = t2.iloc[:,0]
result= pd.DataFrame({"Property_ID":id,"Habitability_score":pr})
result.to_csv("result.csv",index=False)
pd.read_csv("result.csv")

      Property_ID  Habitability_score
0          0x6e93           29.314491
1          0x8787           80.017006
2          0x6c17           68.250810
3          0x9dbd           71.492190
4          0xbfde           81.736230
...           ...                 ...
10495      0x423d           65.023690
10496      0x78c5           82.142790
10497       0xbf3           78.724750
10498      0x305b           79.607290
10499      0x5cff           81.345010

[10500 rows x 2 columns]